<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side-bar" %>
  </div>
  <div class="main">
    <%# 選択項目毎の表示 %>
    <div class="main-title">月次推移</div>
    <%= line_chart @graph_datas %>
  </div>
</div>
