<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side-bar" %>
  </div>
  <div class="main">
    <%# 選択項目毎の表示 %>
    <div class="main-title">月次推移</div>
    <%= column_chart @graph_datas, options = {
      title: "月次利益推移",
      ytitle: "利益額",
      max_width: '100vw',
      thousands: ",", 
      suffix: "円",
    } %>

  </div>
</div>
