/* 共通 */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #fafafa;
}

th,td {
  border: solid 1px #333333;
  padding: 5px;
  text-align: center;
}
/* /共通 */


.client-name{
  text-decoration: none;
}

.part-name{
  text-decoration: none;
}

.part-id{
  text-decoration: none;
}

.sale-id{
  text-decoration: none;
}

.purchase-id{
  text-decoration: none;
}