/* 共通 */

.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
  font-size: 18px;
  border-right: 1px solid #333333;
  overflow: scroll;
}

.main {
  background-color: #fafafa;
  width: calc(100vw - 300px);
  padding: 20px;
  font-size: 16px;
}

